.footer {
    display: flex;
    justify-content: center;
    padding: 2rem 9%;
    background: var(--side-nav);
}

#current-year {
    color: var(--text-color);
}

.footer-text p {
    font-size: 1rem;
    color: var(--text-color);
}




/*******  ANIMACION DE ICONO  *******/
.footer-iconTop a {
    position: fixed;
    display: inline-flex;
    padding: 7px 5px 5px 5px;
    border-radius: 0.6rem 0 0 0.6rem;
    top: 450px;
    right: -80px;
    background: rgba(117, 81, 243, 0.3);
    /* Cambia la posición inicial a la derecha */
    transition: right 0.5s ease-in-out;
}

.footer-iconTop.show a {
    right: 1px;
    transition: 0.3s all ease;
}

.footer-iconTop a:hover {
    background: var(--main-color);
    box-shadow: 0 0 0.5rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2rem;
    color: var(--text-color);
}

@media (max-width:760px){
    .footer-text p {
        font-size: 0.7rem;
    }
}