.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.25rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    color: var(--main-color);
    font-size: 1.7rem;
    font-weight: 600;
    margin-right: auto;
}

.header.sticky {
    border-bottom: .1rem solid var(--border-bottom);
}

.navbar ul {
    display: flex;
}

.navbar a {
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 0.6rem;
    padding: 0.4rem 0.9rem;
    color: var(--text-color);
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

/***************************************/
/******* ICONO NOCTURNO Y OSCURO *******/
/***************************************/

.theme-switch-wrapper{
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 29px;
    position: relative;
    width: 55px;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    border: 2px solid var(--bg-theme);
    color: var(--icon-color);
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    border-radius: 34px;
}

.darkMode-icon {
    font-size: 17px;
    margin-left: 4px;
    transition: .3s all;
}

input:checked+.slider .darkMode-icon {
    transform: translateX(25px);
}


/*******************************************************/
/************  DISEÑO DE ICONO HAMBURGUEZA  ************/
/*******************************************************/
#toggle.hamburgueza {
    display: none;
}

.hamburgueza {
    position: relative;
    height: 30px;
    width: 35px;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.hamburgueza span {
    position: absolute;
    height: 4px;
    width: 100%;
    transition-duration: 300ms;
    background: var(--bg-hamburgueza);
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.hamburgueza span:nth-child(1) {
    top: 0;
    left: 0;
}

.hamburgueza span:nth-child(2) {
    top: 13px;
    left: 0;
    opacity: 1;
}

.hamburgueza span:nth-child(3) {
    bottom: 0;
    left: 0;
}

.hamburgueza.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.hamburgueza.open span:nth-child(2) {
    opacity: 0;
    margin-left: -40px;
}

.hamburgueza.open span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 13px;
}




@media (max-width: 980px) {
    #toggle.hamburgueza {
        display: block;
    }

    .header {
        padding: 1.25rem 7%;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: -100%;
        margin-top: 82px;
        width: 70%;
        height: 100vh;
        transition: .3s all;
        background: var(--bg-color);
        box-shadow: 2px 20px 15px 0px rgba(0,0,0,0.2);
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }

    .navbar.efecto {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    .navbar ul {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 2rem 0;
        color: var(--text-color);
    }

    .theme-switch {
        position: absolute;
        right: 9rem;
        top: 1.95rem;
    }
}

@media (max-width: 760px) {

    .theme-switch {
        position: absolute;
        right: 8rem;
    }
}