<header class="header">

    <a href="" class="logo">Portafolio</a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <ul>
            <li><a href="#inicio" class="active">Inicio</a></li>
            <li><a href="#acerca-de-mi">Acerca de mí</a></li>
            <li><a href="#mis-servicios">Mis Servicios</a></li>
            <li><a href="#portafolio">Portafolio</a></li>
            <li><a href="#contactame">Contáctame</a></li>
        </ul>
    </nav>

    <!-- <div class='bx bx-moon' id="darkMode-icon"></div> -->

    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider">
                <div class='darkMode-icon bx bxs-moon' id="darkMode-icon"></div>
            </div>
        </label>
    </div>

</header>

<app-home></app-home>

<app-about></app-about>

<app-services></app-services>

<app-portafolio></app-portafolio>

<app-contact></app-contact>