<section class="contact" id="contact">
    <h2 class="heading">Contácta<span>me!</span></h2>

    <form>
        <div class="input-box">
            <input type="text" id="name" placeholder="Nombre completo" autocomplete="name">
            <input type="email" id="email" placeholder="Correo electrónico" autocomplete="email">
        </div>

        <div class="input-box">
            <input type="number" id="number" placeholder="Número móvil">
            <input type="text" id="asunto" placeholder="Asunto">
        </div>

        <textarea name="" id="message" cols="30" rows="9" placeholder="Mensaje"></textarea>
        <input type="submit" value="Enviar" class="btnEnviar">
    </form>
</section>