<section class="about" id="about">

    <div class="about-img">
        <img src="/assets/image/about.png" alt="">
    </div>
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Front-End Devepoler</h3>
        <p>
            Soy un desarrollador Front-End con habilidades en HTML, CSS, y JavaScript, Bootstrap, Tailwind
            y Angular. Siempre me esfuerzo por mantenerme actualizado con las últimas tendencias y tecnologías en el campo de
            Front-End.<br>
            Mi objetivo es trabajar en proyectos desafiantes que me permitan crecer como desarrollador
            y así contribuir al éxito del equipo de desarrollo en el que esté trabajando. Estoy comprometido con mi
            carrera y siempre estoy ansioso por aprender y mejorar mis habilidades.
        </p>
    </div>

</section>