<section class="about" id="about">

    <div class="about-img">
        <img src="assets/image/about.png" alt="Foto del desarrollador">
    </div>
    <div class="about-content">
        <h2 class="heading">Acerca de <span>mí</span></h2>
        <p>
            Soy un apasionado desarrollador web Full Stack con experiencia en ambas caras del desarrollo: Front-End y
            Back-End. Mi conjunto de habilidades incluye:<br>

            <b>Front-End:</b> Tengo una sólida base en HTML, CSS y JavaScript, y me siento cómodo trabajando con
            frameworks como Tailwind y Angular.<br>
            <b>Back-End:</b> He trabajado con tecnologías como Java, Spring Boot y MySQL, lo que me permite abordar
            proyectos desde la perspectiva del servidor y la gestión de bases de datos. Mis objetivos incluyen:<br>

            <b>- Aprendizaje constante:</b> Me comprometo a mantenerme al día con las últimas tendencias y tecnologías
            en el campo del desarrollo web.<br>

            <b>- Trabajo en equipo:</b> Disfruto colaborando en equipos multidisciplinarios, donde puedo aportar mis
            habilidades y aprender de otros profesionales.<br>

            <b>- Pasión por la mejora:</b> Estoy ansioso por aprender y mejorar mis habilidades constantemente, con el
            objetivo de crear soluciones web efectivas y mantenerme a la vanguardia en mi carrera.<br>
        </p>
    </div>

</section>