<section class="services" id="services">
    <h2>Mis <span>Servicios</span></h2>
    <div class="services-container">


        <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web Development</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas facilis tempore reiciendis delectus
                aliquam quasi iusto. Doloribus, iste deserunt? Expedita distinctio debitis.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>


        <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web Development</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas facilis tempore reiciendis delectus
                aliquam quasi iusto. Doloribus, iste deserunt? Expedita distinctio debitis.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>


        <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web Development</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas facilis tempore reiciendis delectus
                aliquam quasi iusto. Doloribus, iste deserunt? Expedita distinctio debitis.
            </p>
            <a href="#" class="btn">Read more</a>
        </div>


    </div>
</section>