<section class="services" id="services">
    <h2>Mis <span>Servicios</span></h2>
    <div class="services-container">


        <div class="services-box" *ngFor="let servicio of servicios; let i = index">
            <i [class]="servicio.icono"></i>
            <h3>{{ servicio.titulo }}</h3>
            <p [id]="'servicios' + i" [ngClass]="{'servicios-corto': !mostrarCompleto[i]}">
                {{ servicio.descripcion }}
                <span [id]="'servicios-extra' + i" [hidden]="mostrarCompleto[i]" class="servicios-extra">
                    {{ servicio.textoExtra }}
                </span>
            </p>
            <a class="btn" (click)="alternarMostrar(i)">{{ mostrarCompleto[i] ? 'Leer más' : 'Leer menos' }}</a>
        </div>






    </div>
</section>