<section class="home" id="home">
    <div class="home-content">
        <h3>Hola, soy yo</h3>
        <h1>Michell Quispe</h1>
        <h3>Y soy un <span class="multiple-texto"></span></h3>
        <p>Como desarrollador web Front End, cuento con experiencia en HTML, CSS y JavaScript. Mi objetivo es unirme
            a un equipo de profesionales en el que pueda seguir desarrollando mis habilidades y aportar valor con mi
            conocimiento y experiencia.
        </p>
        <div class="social-media">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            <a href="#"><i class='bx bxl-github'></i></a>
            <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
        <a href="https://docs.google.com/document/d/1kJleDfWF8xW0Iqsby_FC5Chxdoz5Sj4R/export?format=docx" download
            class="btn">Download CV</a>
    </div>

    <div class="home-img">
        <img src="assets/image/home2.png" alt="">
    </div>
</section>
