<section class="home" id="inicio">
    <div class="home-content">
        <h3>Hola, soy</h3>
        <h1>Michell Angel</h1>
        <h3><span class="multiple-texto"></span></h3>
        <p>Un apasionado desarrollador web Full Stack con habilidades en Front End y Back End. Busco unirme a un equipo
            donde pueda aplicar mis habilidades en ambos lados y contribuir al éxito de proyectos web integrales.
        </p>
        <div class="social-media">
            <a href="https://www.youtube.com/@miandev/videos" target="_blank" title="Youtube"><i
                    class='bx bxl-youtube'></i></a>
            <a href="https://github.com/Michell2022" target="_blank" title="GitHub"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/michell-angel-quispe-quispe-437321267/" target="_blank"
                title="Linkedin"><i class='bx bxl-linkedin'></i></a>
        </div>
        <div class="btn">
            <a href="https://docs.google.com/document/d/14MjewiyygLJKc_GgF8C8ZDE2VSSgq0DL/edit?usp=sharing&ouid=108170241802827184869&rtpof=true&sd=true"
                target="_blank"><i class='bx bx-link-external'></i>Currículum</a>
        </div>

    </div>

    <div class="home-img">
        <img src="assets/image/home.png" alt="Foto del desarrollador">
    </div>

</section>

<div class="section-habilidades">
    <h4 class="skills">SKILLS</h4>
    <div class="habilidades">
        <div class="habilidades-categoria">
            <h5>Frontend</h5>
            <img src="assets/image/html-5.svg" title="HTML" alt="Imagen de HTML">
            <img src="assets/image/css-3.svg" title="CSS" alt="Imagen de CSS">
            <img src="assets/image/angular.svg" title="Angular" alt="Imagen de Angular">
            <img src="assets/image/javascript.svg" title="JavaScript" alt="Imagen de JavaScript">
            <img src="assets/image/typescript-logo.svg" title="TypeScript" alt="Imagen de TypeScript">
            <img src="assets/image/tailwind.svg" title="Tailwind CSS" alt="Imagen de Tailwind CSS">
        </div>
        <div class="habilidades-categoria">
            <h5>Backend</h5>
            <img src="assets/image/java.svg" title="Java" alt="Imagen de Java">
            <img src="assets/image/spring-boot.svg" title="Spring Boot" alt="Imagen de Spring Boot">
            <img src="assets/image/mysql.svg" title="MySQL" alt="Imagen de MySQL">
            <img src="assets/image/mongodb.svg" title="MongoDB" alt="Imagen de MongoDB">
            <img src="assets/image/node.svg" title="NodeJS" alt="Imagen de Spring NodeJS">
        </div>
        <div class="habilidades-categoria">
            <h5>Otros</h5>
            <img src="assets/image/github.svg" title="GitHub" alt="Imagen de GitHub">
            <img src="assets/image/git.svg" title="Git" alt="Imagen de Git">
            <img src="assets/image/vsc.svg" title="Visual Studio Code" alt="Imagen de VSC">
            <img src="assets/image/windows.svg" title="Windows" alt="Imagen de Windows">
            <img src="assets/image/insomnia.svg" title="Insomnia" alt="Imagen de Insomnia">
        </div>

    </div>
</div>