<section class="home" id="inicio">
    <div class="home-content">
        <h3>Hola, soy</h3>
        <h1>Michell Quispe</h1>
        <h3><span class="multiple-texto"></span></h3>
        <p>Un apasionado desarrollador web Full Stack con habilidades en Front End y Back End. Busco unirme a un equipo
            donde pueda aplicar mis habilidades en ambos lados y contribuir al éxito de proyectos web integrales.
        </p>
        <div class="social-media">
            <a href="https://www.youtube.com/@miandev/videos"target="_blank" title="Youtube"><i class='bx bxl-youtube'></i></a>  
            <a href="https://github.com/Michell2022" target="_blank" title="GitHub"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/michell-angel-quispe-quispe-437321267/" target="_blank" title="Linkedin"><i class='bx bxl-linkedin'></i></a>
        </div>
        <div class="btn">
            <a href="https://docs.google.com/document/d/14MjewiyygLJKc_GgF8C8ZDE2VSSgq0DL/edit?usp=sharing&ouid=108170241802827184869&rtpof=true&sd=true" target="_blank"><i class='bx bx-link-external'></i>Currículum</a>
        </div>
        
    </div>

    <div class="home-img">
        <img src="assets/image/home.png" alt="Foto del desarrollador">
    </div>
</section>