<section class="portafolio" id="portafolio">
    <h2 class="heading">Últimos <span>Proyectos</span></h2>

    <div class="portafolio-container">
        <div class="portafolio-box">
            <img src="assets/imgportafolio/fondo.jpg" alt="Imagen de un pokedex">
            <div class="portafolio-layer">
                <h4>Pokeapi</h4>
                <p>
                    La PokeAPI que he desarrollado es una API de acceso a datos sobre los Pokémon, construida con
                    Angular y REST.
                </p>
                <a href="https://michell2022.github.io/asincrona-api-rest-angular/" target="_blank"><i
                        class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imgportafolio/portafolfio_02.jpg" width="200" alt="Imagen Encriptador de textos">
            <div class="portafolio-layer">
                <h4>Encriptador</h4>
                <p>
                    Aplicación web que realiza sustitución de letras en texto de entrada, ofreciendo una
                    funcionalidad de transformación de texto.
                </p>
                <a href="https://michell2022.github.io/challenge_oracle_one2023/" target="_blank"><i
                        class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imgportafolio/portafolfio_03.jpg" width="200" alt="Imagen">
            <div class="portafolio-layer">
                <h4>Diseño Web</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat aliquam eos nostrum labore
                    similique.
                </p>
                <a href=""><i class="bx bx-link-external"></i></a>
            </div>
        </div>
    </div>

</section>