<section class="portafolio" id="portafolio">
    <h2 class="heading">Últimos <span>Proyectos</span></h2>

    <div class="portafolio-container">
        <div class="portafolio-box">
            <img src="assets/imgportafolio/portafolfio_01.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Diseño Web</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat aliquam eos nostrum labore
                    similique.
                </p>
                <a href=""><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imgportafolio/portafolfio_02.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Diseño Web</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat aliquam eos nostrum labore
                    similique.
                </p>
                <a href=""><i class="bx bx-link-external"></i></a>
            </div>
        </div>

        <div class="portafolio-box">
            <img src="assets/imgportafolio/portafolfio_03.jpg" width="200" alt="">
            <div class="portafolio-layer">
                <h4>Diseño Web</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat aliquam eos nostrum labore
                    similique.
                </p>
                <a href=""><i class="bx bx-link-external"></i></a>
            </div>
        </div>
    </div>

</section>