/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


/* You can add global styles to this file, and also import other style files */
:root{
    --bg-color: #FDFDFD;         /*color del body*/
    
    --text-color: #333;          /*color del tecto*/
    
    --main-color: #7551F3;       /*color del logo*/

    --white-color: #FDFDFD;      /*color blanco permanente*/

    --icon-color: #4b9bf7;

    --bg-formulario: #FDFDFD;

    --bg-theme: #acacac;

    --shadow-color: rgba(0, 0, 0, .2);

    --border-bottom: rgba(0, 0, 0, .2);
}

.dark-mode{
    --bg-color: #0B061F;         /*color del body*/
    
    --text-color: #FDFDFD;          /*color del tecto*/

    --white-color: #FDFDFD;

    --bg-formulario: #333;

    --icon-color: #ffd900;

    --border-bottom: rgba(255, 255, 255, 0.2);
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 6.5rem 9% 2rem;
}
